@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: rgb(94, 146, 126);
    --accent-foreground: hsla(222.2 47.4% 11.2%);
    --background: rgb(162, 164, 157);
    --black: hsla(224, 38%, 6%);
    --border: hsla(214.3 31.8% 91.4%);
    --card: hsla(0 0% 100%);
    --card-foreground: hsla(222.2 47.4% 11.2%);
    --destructive: hsla(0 100% 50%);
    --destructive-foreground: hsla(210 40% 98%);
    --foreground: hsla(222.2 47.4% 11.2%);
    --input: hsla(214.3 31.8% 91.4%);
    --muted: hsla(210 40% 96.1%);
    --muted-foreground: hsla(215.4 16.3% 46.9%);
    --popover: rgb(116, 109, 91);
    --popover-foreground: hsla(222.2 47.4% 11.2%);
    --primary: hsla(222.2 47.4% 11.2%);
    --primary-foreground: hsla(210 40% 98%);
    --radius: 0.5rem;
    --ring: hsla(215 20.2% 65.1%);
    --secondary: hsla(210 40% 96.1%);
    --secondary-foreground: hsla(222.2 47.4% 11.2%);
    --white: hsla(180, 57%, 97%);

    // Linear gradients
    --gradlin-1: linear-gradient(
      90deg,
      hsla(328, 77%, 65%) 0%,
      hsla(245, 89%, 72%) 50%,
      hsla(178, 77%, 60%) 100%
    );

    --gradlin-2: linear-gradient(
      150deg,
      hsla(246, 66%, 70%) 0%,
      hsla(320, 90%, 61%) 33%,
      hsla(28, 91%, 58%) 66%,
      hsl(39, 99%, 61%) 100%
    );

    // Radial gradients
    --gradrad-1: radial-gradient(
        circle at 0% 0%,
        hsla(197, 57%, 22%, 0.5) 0%,
        hsla(199, 61%, 11%, 0.5) 25%,
        hsla(198, 56%, 4%, 0.5) 50%
      ),
      radial-gradient(
        circle at 100% 100%,
        hsla(303, 69%, 37%, 0.5) 0%,
        hsla(342, 35%, 20%, 0.5) 25%,
        hsla(354, 57%, 10%, 0.5) 50%
      );
    --gradrad-2: radial-gradient(
        circle at 0% 0%,
        hsla(197, 57%, 22%, 0.5) 0%,
        hsla(199, 61%, 11%, 0.5) 25%,
        hsla(198, 56%, 4%, 0.5) 50%
      ),
      radial-gradient(
        circle at 100% 100%,
        hsla(303, 69%, 37%, 0.5) 0%,
        hsla(342, 35%, 20%, 0.5) 25%,
        hsla(354, 57%, 10%, 0.5) 50%
      );
    --gradrad-3: radial-gradient(
        circle at 0% 0%,
        hsla(195, 11%, 7%, 0.5) 0%,
        hsla(199, 45%, 22%, 0.5) 25%,
        hsla(201, 42%, 42%, 0.5) 50%
      ),
      radial-gradient(
        circle at 100% 100%,
        hsla(263, 77%, 12%, 0.5) 0%,
        hsla(268, 76%, 13%, 0.5) 25%,
        hsla(271, 67%, 40%, 0.1) 50%
      );
  }

  *,
  *:before,
  *:after {
    @apply border-border;
    box-sizing: border-box;
  }
  html {
    width: 100%;
    height: 100%;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
